$primary: #0094ff;
$light-gray: #787878;
$lighter-gray: #3a3a3a;
$gray: #212121;
$dark-gray: #181818;

$cover-color: $gray;
$cover-text: $gray;

$darken: #0003;
$lighten: #fff3;

$bg: $dark-gray;
$text: white;

$player-height: 80px;

$red: rgb(226, 38, 47);
$green: rgb(52, 201, 59);
$gold: rgb(155, 97, 11);

$categories: (
    tension: rgb(202, 42, 21),
    complexity: rgb(34, 47, 221),
    emotion: rgb(190, 34, 221),
    quirk: rgb(182, 233, 62),
);

$sidebar-width: 300px;
$border-width: 2px;
$border-color: $lighter-gray;