img {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 1px;

  &:after {
    @include pseudo(false);
    background-color: $cover-color;
  }

  & + svg {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 6rem;
    color: $cover-text;
    transform: translate(-50%, -50%);
  }
}
